/2843_Bc_F1_S46_L001_R1_001.fastq
/2843_Bc_F1_S46_L001_R2_001.fastq
/created.bam
/created.bam.bai
/f.bam
/f.bam.bai
/filtered.bam
/filtered.bam.bai
/new_filtered.bam
/new_filtered.bam.bai
/new_unfiltered.bam
/new_unfiltered.bam.bai
/reference
/unf.bam
/unf.bam.bai